[Desktop Entry]
Name=setxkbmap
GenericName=setxkbmap
Comment=Set my keyboard layout
Exec=setxkbmap us_sflip
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
