[Desktop Entry]
Name=setxkbmap
GenericName=setxkbmap
Comment=Set my keyboard layout
Exec=/home/sflip/shellscripts/set-keyboard-layout.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
