#### fish
####  common

fish/fishd.*
mutt



#### sublime
####   asterix

sublime/User/Package Control.sublime-settings
sublime/User/Package Control.last-run
sublime/User/Package Control.ca-list
sublime/User/Package Control.ca-bundle
sublime/User/Package Control.system-ca-bundle
sublime/User/Package Control.cache/
sublime/User/Package Control.ca-certs/
