pentadactyl/pentadactyl/info
ranger/**/*.pyo
ranger/colorschemes/__init__.py
ranger/colorschemes/__pycache__
sublime/User/Color Highlighter/
sublime/User/Package Control.*
sublime/User/Package Control.cache
sublime/User/SublimeLinter/
xfce4/terminal/accels.scm
xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml
