# local sublime projects
dotfiles.sublime-project
dotfiles.sublime-workspace


#### dactyl

dactyl/pentadactyl/info


#### ranger

ranger/colorschemes/__init__.py
ranger/colorschemes/__pycache__


#### sublime

#sublime/User/SublimeLinter/
sublime/User/Package Control.sublime-settings
sublime/User/Package Control.last-run
sublime/User/Package Control.ca-list
sublime/User/Package Control.ca-bundle
sublime/User/Package Control.system-ca-bundle
sublime/User/Package Control.cache/
sublime/User/Package Control.ca-certs/


#### xfce4

xfce4/xfconf/xfce-perchannel-xml/displays.xml
xfce4/xfconf/xfce-perchannel-xml/xfce4-desktop.xml
xfce4/xfconf/xfce-perchannel-xml/xfwm4.xml

