snippet sgh "Sehr geehrter Herr"
Sehr geehrter Herr $0
endsnippet

snippet sgf "Sehr geehrte Frau"
Sehr geehrte Frau $0
endsnippet

snippet bg "Beste Grüße"
Beste Grüße
Philipp
endsnippet

snippet mbg "Mit besten Grüßen"
Mit besten Grüßen
Philipp Moers
endsnippet
