# this should import all the html snippets
# (sadly this does only search in this directory, not in .vim/bundle/vim-snippets/snippets)
extends html

snippet php "PHP Tag ala sflip"
<?php
	$0
?>
endsnippet
