[Desktop Entry]
Name=alacritty
GenericName=alacritty
Comment=Terminal Emulator
Exec=alacritty
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
