[Desktop Entry]
Name=clipmenud
GenericName=clipmenud
Comment=Clipboard Manager
Exec=clipmenud
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
