[Desktop Entry]
Name=numlockx
GenericName=numlockx
Comment=Enable Num Block
Exec=numlockx
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
