[Desktop Entry]
Name=setxkbmap
GenericName=setxkbmap
Comment=Set my keyboard layout
Exec=/home/sflip/bin/autostart-setxkbmap.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
