[Desktop Entry]
Name=syndaemon
GenericName=syndaemon
Comment=Disable touchpad when typing
Exec=syndaemon -d -k -i 1.2
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
