[Desktop Entry]
Type=Application
Name=telegram
Comment=Telegram Messenger Desktop Client
Exec=sh -c '/usr/bin/flatpak run --branch=stable --arch=x86_64 org.telegram.desktop || telegram-desktop || Telegram'
Terminal=false
