[Desktop Entry]
Name=unclutter
GenericName=unclutter
Comment=Daemon to hide mouse cursor
Exec=unclutter -idle 4 -jitter 30
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
