[Desktop Entry]
Name=unclutter
GenericName=unclutter
Comment=Daemon to hide mouse cursor
Exec=/home/sflip/bin/autostart-unclutter.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
