configuration {
	width: 50;
	lines: 15;
	font: "PragmataPro Mono 11";
	location: 0;
	show-icons: false;
	window-format: "{c}    {t}";
	display-combi: ">";
	kb-remove-word-back: "Alt+BackSpace";
}

@theme "~/.config/rofi/themes/gruvbox-dark-purple.rasi"
